/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../assets/fonts/Lato-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../assets/fonts/Lato-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: Lato,-apple-system,Segoe UI,Roboto,Ubuntu,sans-serif;
}

body {
  margin: 0;
  background: #fff;
}

.title, .description {
  margin: 8px 0;
  color: rgba(0,0,0,.85);
}

.description {
  line-height: 24px;
}

.title {
  font-size: 17.5px;
}

.article {
  border-radius: 2px;
  text-decoration: none;
  display: block;
}

.article img {
  display: block;
  width: 100%;
  height: auto;
}

.footer {
  padding: 0 16px;
  margin-bottom: 16px;
  display: block;
  height: 101px;
}

.footer > *:first-child {
  margin-top: 16px;
}

/* MASONRY CSS */
.ml {
  box-sizing: border-box;
  column-count: 1;
  column-gap: 0;
  position: relative;
}

.ml > * {
  box-sizing: border-box;
  break-inside: avoid;
  page-break-inside: avoid;
}

@media (min-width: 500px) {
  .ml {
    column-count: 2;
  }
}

@media (min-width: 750px) {
  .ml {
    column-count: 3;
  }
}

@media (min-width: 1000px) {
  .ml {
    column-count: 4;
  }
}
